$back-color: #f2f4f5;                 //Variables
$font-color-light: #f7fafa;
$font-color-dark: #272a2e;
$font-color-blue: #257ca1;
$font-family-header: 'Roboto', sans-serif;
$font-family: 'Montserrat', sans-serif;

$website-width: 1280px;
$main-color: #257ca1;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;